extends layout

block content
  div.navbar.navbar-default(role="navigation")
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav-links")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.navbar-brand Get more Hours

            div.navbar-collapse.collapse#nav-links
                ul.nav.navbar-nav.navbar-right
                  if !user.firstTime
                    li
                        a(href='/users/userinfo') Profile
                    li
                        a(href='/reservations') Reservations
                    li
                        a(href='/instructions') Instructions
  h2 Add hours password for #{user.name}. You currently have #{user.availableHours} hour(s) available.
  if msg
    h3= msg
  form#addPaswordsForm(action='', method='post')
    input.form-control(type='text', name='password', placeholder='Enter password')
    button.btn.btn-success(type='submit') Submit password