extends layout

block content
  h1 Generate new passwords
  if addedPasswords
    h3 Passwords added succesfully
  form(method='post', action='')
    input(type='text', name='hours', placeholder='Hours per password')
    input(type='text', name='amount', placeholder='Amount of passwords to generate')
    button(type='submit') Generate passwords!
  a(href='/admin') Back to admin!
