extends layout

block content
    div.navbar.navbar-default(role="navigation")
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav-links")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.navbar-brand Instructions

            div.navbar-collapse.collapse#nav-links
                ul.nav.navbar-nav.navbar-right
                  if !user.firstTime
                    li
                        a(href='/users/userinfo') Profile
                    li
                        a(href='/reservations') Reservations
    h2 Terms of Service
    ol
      li
        h3 Camera quality
        p
          | The quality of the video feed image is proportional to the quality of the camera and hardware used 
          | for the video chat. By using this app you agree that we are not responsible for any
          | problems caused by camera quality during your usage of this application.
      li
        h3 Network Speed
        p
          | The framerate(speed) of the video chat is dominated by the speed of the network you are
          | connected to while using this app. We reccommend that you be connected via ethernet to a
          | fast connection if on a laptop or desktop. If you are on a mobile device we reccommend that
          | you are either connected to a fast Wifi network, or have an LTE internet connection.
          | By using this app you agree that we are not held responsible for any lose of video frames
          | or for the speed of the video chat.
      li
        h3 Confidenciality (Ley HIPPA)
        p
          | Yo no se nada sobre esto, alguien tiene que escribir algo importante aqui.
          | Esto debe ser muy importante porque lo he escuchado mucho por ahi.

    h2 Instruction for the use of this web application
    ol
       li
           h3 Reservations View
           ul
            li View a list of your reservations and their current status
            li Click a link to enter the reservation video conference
            li Make new reservations by selecting date and duration
            li View available hours to make new reservations
            li Use passwords to obtain more hours to make reservations
       li
           h3 Making reservations
           ul
            li Click on reservations in the navigation bar
            li Make sure you have enough hours to reserve the time you want
            li Select the date of the reservation
            li Select the time you want the interpreter to be available from
            li Select up to what time you need the interpreter to be with you
            li Click submit
            li Wait for the admin to approve your reservation
            li Once the admin approves, you will receive an email with a link you can click to confirm the reservation.
            li After confirming, just enter the video chat room on the reservation date and time, and wait for the interpreter to call you.
       li
           h3 Getting more hours
           ul
            li To get more hours you must purchase a password from the admin.
            li These instructions are more complicated and aren't set in stone yet.

block script
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')