extends layout

block content
    div.navbar.navbar-default(role="navigation")
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav-links")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.navbar-brand Instructions

            div.navbar-collapse.collapse#nav-links
                ul.nav.navbar-nav.navbar-right
                  if !user.firstTime
                    li
                        a(href='/users/userinfo') Profile
                    li
                        a(href='/reservations') Reservations

    ol
       li
           h3 Explain Calendar View
       li
           h3 Explain how to reserve dates in calendar
       li
           h3 Explain how reminders work
       li
           h3 Explain how to use camera View
       li
           h3 Explain how to buy hours

block script
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')