doctype html
html
  head
    title Interpretes
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')

    block script
