extends layout

block content
    div.jumbotron
        h1 Login
        p.lead Dive into the future of interpreting!
        #wrapper
            if msg
                h2= msg
            // LOGIN
            #addUser
                form(action='', method='post')
                    input.form-control#inputUserEmail(type='email', placeholder='Email', name='email')
                    input.form-control#inputUserPass(type='password', placeholder='Password', name='password')
                    button.btn.btn-success#btnLogin Login