extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        

        // ADD USER
        h2 Add User
        #addUser
            form(action='', method='post')
                input#inputUserName(type='text', placeholder='Nombre', name='name')
                input#inputUserEmail(type='email', placeholder='Email', name='email')
                input#inputUserPass(type='password', placeholder='Password', name='password')
                button#btnLogin Login
        // /ADD USER

    // /WRAPPER