extends layout

block content
        
    // Wrapper
    #wrapper
        // ADD USER
        h2 Add User
        #addUser
            form(action='', method='post')
                input.form-control#Name(type='text', placeholder='Nombre', name='name', , required='')
                input.form-control#Email(type='email', placeholder='Email', name='email', required='')
                h3 Escoja su lenguaje principal
                label Español  
                    input.form-control#Language(type="radio", name="language", value="spanish")
                br
                label Ingles  
                    input.form-control#Language(type="radio", name="language", value="english")
                br
                button.btn.btn-success#btnLogin Login
        // /ADD USER

    // /WRAPPER