extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        

        // ADD USER
        h2 Add User
        #addUser
            form(action='', method='post')
                input#inputUserName(type='text', placeholder='Nombre', name='name', , required='')
                input#inputUserEmail(type='email', placeholder='Email', name='email', , required='')
                input#inputUserPass(type='password', placeholder='Password', name='password', , required='')
                button#btnLogin Login
        // /ADD USER

    // /WRAPPER